# Xcode
## User settings
xcuserdata/
*.xcworkspace/xcuserdata/

## Build generated
build/
DerivedData/
.build/
*.dSYM.zip
*.dSYM

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Fastlane / Output
*.ipa
Payload/
